
@{
    ViewBag.Title = "Index";
}
<div class="p-l-t-60">
    <div>
        <h2>Feedback</h2>
    </div>
    <p>
        For any questions, please send us an email to <a herf="#" class="txt-line">mrmall@microsoft.com</a> .
    </p>
</div>
