@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    body {
        background-color: #c4e7ff;
        background-image: url(../Resources/imgs/bg_cut.png);
    }
</style>
<div class="welcome-page">
    @Html.ActionLink(
        "Privacy Statement",
        "PrivacyStatement",
        null,
        null,
        new
        {
            @class = "privacystatement",
            @style = "text-decoration:underline;"
        })
    <div class="welcome-wrap">
        <h1>China Cloud Migration & Expansion</h1>
        <div class="welcome-cloud">

        </div>

        <h3 id="welcome">Hello Welcome!</h3>
        @if (ViewBag.CloudEnvironment != "AzureChinaCloud")
        {
            <p>Migration & Expansion provide customers with service and guide to reduce the friction in Cloud migration and expansion between Azure China and Global Azure.</p>
            <br />
            <p>It consists of two parts:</p>
            <br />
            <p><b>Assessment web service</b> provides the functionality to assess the service and configuration parity between the source and destination environment and estimate the cost. Customer could conduct assessment with subscription and/or Azure usage report</p>
            <br />
            <p> •	For assessment with subscription, please sign-in first, input subscription information for assessment and checking out reports</p>
            <br />
            <p> •	For assessment with usage report, please upload Azure usage report V2 and check out the report</p>
        }
        else
        {
            <p>China Cloud Migration & Expansion provide customers with service and guide to reduce the friction in Cloud migration and expansion between Azure China (Mooncake) regions.</p>
            <br />
            <p>It consists of two parts:</p>
            <br />
            <p><b>Assessment web service</b> provides the functionality to assess the service and configuration parity between the source and destination environment and estimate the cost. Customer could conduct assessment with subscription</p>
            <br />
            <p> •	For assessment with subscription, please sign-in first, input subscription information for assessment and checking out reports</p>
        }
        <br />
        <p><b>Migration guidebook</b> is an engineering verified, step by step guide and demo video for major workloads migration. Major workloads include Virtual Machine, Storage, Networking, Database and Web Apps.</p>
        <br />
        <p>Customers could also download the China Cloud Migration & Expansion <a class="bold-link" href="https://github.com/Azure/ccme">source code</a> on GitHub for compiling and running the service locally.</p>
    </div>
</div>

@if (!string.IsNullOrWhiteSpace(Request.QueryString["errormessage"]))
{
    <div aria-live=assertive style="background-color:red;color:white;font-weight: bold;">
        <script>
            alert("errormessage");
        </script>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#skipToMainContent').attr('href', '#welcome');
    });
</script>